.card{
  border: 1px solid hsla(0, 0%, 47%, 0.406);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 100%, 55%, 0.662);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
 
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsla(76, 100%, 63%, 0.541);

}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(132, 100%, 64%, 0.929);
}