.welcome-msg{
  font-size: 2.5em;
  background-color: rgba(19, 214, 68, 0.879);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}
.logIn{
  font-size: 2.5em;
  background-color: rgba(241, 13, 13, 0.879);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}